<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../pages.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
    <title>Faustin250</title>
</head>

<body class="container-blog full-height-grow">
    
    <header>
        <nav class="navbar">
            <div class="brand-title">
                <a href="/" class="brand-logo">
                    <img class="logo-image" src="logo.png" alt="">
                </a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="/about">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>
            </div>
        </nav>
    </header>


    <section class="blog-section">
   
        <h1 class="heading">Blog Articles</h1>
        <a href="/articles/new"> New Article</a>
        <div class="blog-content"> 

            <% articles.forEach(article => { %>
                <div class="polaroid">  
                    <div class="container1">
                        <h1 class="heading1"> <%= article.title %></h1>
                        <p class="blog-text"> <%= article.createdAt.toLocaleDateString() %></p>
                        <p class="blog-text"> <%= article.summary %></p>
                        <p class="blog-text"> <%= article.content %></p>
                      
                    </div>  
                    <a href="articles/<%= article.id %>">Read more</a>  
                    <a href="articles/edit/<%= article.id %>">Edit</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                    </form>
                    
                </div>
                
             <% }) %>

        </div>
    </section>

    <footer>
        <p class="footer-text">Copyright 2020 | UKUNDIMANA FAUSTIN | All Rights Reserved
        </p>
    </footer>
   
</body>

</html>